@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
body {
    background-color: black;
    color: #ffff;
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-position: 100%, 50%;
    position: relative;
    width: 98%;
}

::-webkit-scrollbar {
    visibility: hidden;
}

.sidepanel {
    width: 0%;
    height: 50%;
    position: fixed;
    z-index: 1;
    height: 52%;
    top: 0;
    left: 0;
    background-color: #111;
    background-image: url('./sidePanel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border: 5px solid rgba(180, 0, 0, 1);
    border-radius: 10px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 31px;
    cursor: pointer;
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 7%;
}

.openbtn:hover {
    background-color: #444;
}

#main-heading {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: 'Chango', cursive;
    font-size: 50px;
    font-weight: 900;
    text-decoration: none;
    color: white;
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(180, 0, 0, 1) 16%, rgba(252, 176, 69, 1) 41%, rgba(253, 29, 29, 1) 84%);
    animation: .8s shake infinite alternate;
    padding-left: 30%;
    margin: 0;
}

@keyframes shake {
    0% {
        transform: skewX(-15deg);
    }
    5% {
        transform: skewX(15deg);
    }
    10% {
        transform: skewX(-15deg);
    }
    15% {
        transform: skewX(15deg);
    }
    20% {
        transform: skewX(0deg);
    }
    100% {
        transform: skewX(0deg);
    }
}

.scr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#hcard {
    margin-right: 40px;
}

#hscore {
    margin-right: 40px;
    font-family: 'Chango', cursive;
    color: red;
    /* font-size: 100px; */
}


}
#card {
    margin: 10px;
}
#score {
    margin: 10px;
    font-family: 'Chango', cursive;
    color: red;
    font-size: 50px;
}
.mainbox {
    width: 100%;
    margin-left: 2%;
}
#game div {
    display: flex;
    border: 1px solid yellow;
    width: 15%;
    height: 160px;
    margin-left: 10px;
    display: inline-block;
    color: #ffff;
    flex-shrink: 3;
    animation: mymove 2s;
}
#game div:hover {
    box-shadow: 0 0 50px white;
    transform: scale(1.2);
    background-color: black;
}
.container {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
}
.gif1 {
    background: url(./gifs/d1.gif);
    background-size: cover;
    background-position: center;
}
.gif2 {
    background: url(./gifs/d2.gif);
    background-size: cover;
    background-position: center;
}
.gif3 {
    background: url(./gifs/d3.gif);
    background-size: cover;
    background-position: center;
}
.gif4 {
    background: url(./gifs/d4.gif);
    background-size: cover;
    background-position: center;
}
.gif5 {
    background: url(./gifs/d5.gif);
    background-size: cover;
    background-position: center;
}
.gif6 {
    background: url(./gifs/d6.gif);
    background-size: cover;
    background-position: center;
}
.gif7 {
    background: url(./gifs/d7.gif);
    background-size: cover;
    background-position: center;
}
.gif8 {
    background: url(./gifs/d8.gif);
    background-size: cover;
    background-position: center;
}
.gif9 {
    background: url(./gifs/d9.gif);
    background-size: cover;
    background-position: center;
}
.gif10 {
    background: url(./gifs/d10.gif);
    background-size: cover;
    background-position: center;
}
.gif11 {
    background: url(./gifs/d11.gif);
    background-size: cover;
    background-position: center;
}
.gif12 {
    background: url(./gifs/d12.gif);
    background-size: cover;
    background-position: center;
}
.colorless {
    background-image: url(./frontface.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 50%;
}
@keyframes mymove {
    50% {
        transform: rotate(180deg);
    }
}
.colorless:hover {
    background-size: 300px;
}
.test {
    background-size: 300px;
}
#restart {
    padding: 20px 20px;
    font-family: 'Chango', cursive;
    display: inline-block;
    color: red;
    letter-spacing: 2px;
    background-color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3em;
    overflow: hidden;
    border-radius: 40px;
    /* margin-top: 14px; */
    
    width: 20%;
    /* display: flex; */
    /* justify-content: center; */
    
    border: none;
    margin-left: 40%;
}
#restart:hover {
    color: #111;
    background: red;
    box-shadow: 0 0 50px red;
}
.status {
    font-family: 'Chango', cursive;
    font-size: 20px;
    color: red;
    margin: 0;
    padding-left: 27%;
}
.dialog {
    border: 2px solid yellow;
    background-color: red;
    width: 500px;
    height: 150px;
    box-shadow: 0 0 50px yellow;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 41%;
    left: 37%;
    z-index: 2;
    opacity: 0.8;
}
.main h1 {
    font-family: 'Chango', cursive;
    margin: auto;
    color: black;
    padding-top: 3%;
    padding-left: 29%;
    z-index: 3;
}
.confrom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#btn1 {
    margin-top: 5%;
    margin-left: 8%;
    padding: 10px 10px;
    font-family: 'Chango', cursive;
    color: red;
    letter-spacing: 2px;
    background-color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    border-radius: 40px;
    /* margin-top: 14px; */
    /* width: 100%; */
    
    border: none;
}
#btn1:hover {
    color: #111;
    background: white;
    box-shadow: 0 0 50px white;
}
#btn2 {
    margin-top: 5%;
    margin-right: 12%;
    padding: 10px 10px;
    font-family: 'Chango', cursive;
    color: red;
    letter-spacing: 2px;
    background-color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    border-radius: 40px;
    /* margin-top: 14px; */
    /* width: 100%; */
    
    border: none;
}
#btn2:hover {
    color: #111;
    background: white;
    box-shadow: 0 0 50px white;
}
.freezeScreen {
    background-color: white;
    opacity: 30%;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}
.none {
    display: none;
}
.main-warning {
    border: 2px solid yellow;
    background-color: red;
    width: 500px;
    height: 150px;
    box-shadow: 0 0 50px yellow;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 37%;
    z-index: 2;
    opacity: 0.8;
}
.warning {
    font-family: 'Chango', cursive;
    color: black;
    font-size: 12px;
    /* padding: 30px; */
    
    padding-left: 52px;
    z-index: 3;
    margin-top: 0;
}
#continue {
    font-family: 'Chango', cursive;
    color: red;
    letter-spacing: 2px;
    background-color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    border-radius: 40px;
    /* margin-top: 14px; */
    /* width: 100%; */
    
    margin-top: 10px;
    margin-left: 154px;
    border: none;
}
#continue:hover {
    color: #111;
    background: white;
    box-shadow: 0 0 50px white;
}
.over {
    border: 2px solid yellow;
    background-color: red;
    width: 500px;
    /* height: 150px; */
    
    box-shadow: 0 0 50px yellow;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 36%;
    left: 35%;
    z-index: 2;
    opacity: 0.8;
}
.overtxt {
    font-family: 'Chango', cursive;
    color: black;
    font-size: 12px;
    /* padding: 30px; */
    
    margin-top: -5px;
    padding-left: 167px;
}
#restart {
    padding: 20px 20px;
    font-family: 'Chango', cursive;
    display: inline-block;
    color: red;
    letter-spacing: 2px;
    background-color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3em;
    overflow: hidden;
    border-radius: 40px;
    /* margin-top: 14px; */
    
    width: 40%;
    /* display: flex; */
    /* justify-content: center; */
    
    border: none;
    margin-left: 30%;
}
#restartgame:hover {
    color: #111;
    background: white;
    box-shadow: 0 0 50px white;
}
.field {
    /* background-color: red; */
    
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15%;
    left: 2%;
    width: 100%;
}
.field div {
    /* margin-left: 10px; */
    /* margin-right: 4%; */
    
    width: 100%;
    font-family: 'Chango', cursive;
    color: blue;
    font-size: 25px;
}
#players {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    right: -20;
    margin-right: 4%;
    width: 100%;
    opacity: 70%;
}
#players div {
    display: flex;
    flex-direction: row;
    margin-bottom: -28px;
}
#players div h4 {
    background-color: blue;
    flex-direction: column;
    display: flex;
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    width: 40%;
    color: black;
    font-family: 'Chango', cursive;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
}
#players div h3 {
    background-color: red;
    font-size: 20px;
    padding: 10px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
}
#players div h2 {
    background-color: blue;
    font-size: 30px;
    padding: 5px;
    width: 40%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
}
#top5 {
    color: red;
    margin-top: 78px;
    position: absolute;
    font-family: 'Chango', cursive;
    top: -5%;
    left: 2%;
    margin-bottom: 2%;
    width: 100%;
}
#formName {
    color: black;
    font-family: 'Chango', cursive;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 6%;
}
#formEmail {
    color: black;
    font-family: 'Chango', cursive;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 6%;
}
.nameInput {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    padding: 5px;
    width: 50%;
    margin-bottom: 5px;
}
#subBtn {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 43%;
    background-color: red;
    border: 2px solid yellow;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
#subBtn:hover {
    color: white;
    background-color: black;
    box-shadow: 0 0 50px black;
}
@media screen and (min-width: 300px) and (max-width: 1000px) {
    #game {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    
    .mainbox {
        padding-left: 0;
    }
    
    #game div {
        width: 230px;
        height: 200px;
    }
    
    #main-heading {
        padding-left: 20%;
    }
    /* #players {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 142%;
        width: 100%;
        left: 0%;
    }
     */
    /* .field {
        width: 100%;
        left: 3%;
        top: 108%;
    } */
    /* #top5 {
        width: 100%;
        left: 3%;
        top: 53%;
    }
     */
    
    #restart {
        width: 100%;
        margin-left: 0;
    }
    
    div#dialog {
        left: 25%;
        transform: scale(1.5);
    }
    
    div#warning {
        left: 25%;
        transform: scale(1.5);
    }
    
    div#over {
        left: 20%;
        transform: scale(1.5);
    }
    
    .openbtn {
        font-size: 16px;
        right: 0;
        top: 4%;
        right: -17px;
    }
    
    .sidepanel {
        left: unset;
        right: 0;
        height: 31%;
    }
}